<!--Carte et table des matières du Menu "savoir être"-->
<button id="coeur" class="card-button m-3" (click)="onSavoirEtre()" [ngClass]="{'rotateIn': rotateSavoirEtre === false, 'rotateOut': rotateSavoirEtre === true, 'mirror': rotateSavoirEtre === undefined }" >
    <div class="card h-card card-border">
        <img src="/assets/asCoeur.png" alt="As de coeur savoir être Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': savoirEtreMenu === true || savoirEtre === false}" >
        <img src="/assets/asCoeur.png" alt="As de coeur savoir être Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': savoirEtreMenu === true || savoirEtre === true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': savoirEtreMenu === false || savoirEtre === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': savoirEtreMenu === false || savoirEtre === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="savoirEtreMenu === false" [ngClass]="{'d-none': savoirEtre === false}"><p class="mb-3 pt-5 text-danger">Savoir Être</p><p class="pt-5 text-danger">Compétences Professionnelles</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="savoirEtreMenu === false" [ngClass]="{'d-none': savoirEtre === true}"><p class="mb-3 pt-5 text-danger">Savoir Être</p><p class="pt-5 text-danger">Compétences Professionnelles</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <p class="card-text text-start text-light mb-0 pb-0  mirror" *ngIf="savoirEtreMenu === true" [ngClass]="{'d-none': savoirEtre === true}">- Soft Skills<br><br>- Gestion de projet<br><br>- Management<br><br>- Commerciale</p>
        <p class="card-text text-start text-light mb-0 pb-0" *ngIf="savoirEtreMenu === true" [ngClass]="{'d-none': savoirEtre === false}">- Soft Skills<br><br>- Gestion de projet<br><br>- Management<br><br>- Commerciale</p>
        </div>
    </div>
</button>
<!--Carte Soft Skills-->
<button class="card-button m-3" (click)="onSavoirEtreActive1()" *ngIf="tabShow[0] === true" [ngClass]="{'rotateIn': tabRotate[0] === true, 'rotateStart': tabRotate[0] === undefined,'rotateOut': tabRotate[0] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/roiCoeur.png" alt="As de coeur savoir être Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[0] === true || tabActive[0] === false}" >
        <img src="/assets/roiCoeur.png" alt="As de coeur savoir être Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[0] === true || tabActive[0] === true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[0] === false || tabActive[0] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[0] === false || tabActive[0] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[0] === false" [ngClass]="{'d-none': tabActive[0] === false}"><p class=" text-danger mt-4">Soft Skills</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[0] === false" [ngClass]="{'d-none': tabActive[0] === true}"><p class=" text-danger mt-4">Soft Skills</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <p class="card-text text-start text-light mb-0 pb-0 mirror fs-7" *ngIf="tabMenu[0] === true" [ngClass]="{'d-none': tabActive[0] === true}">- Autonomie<br>- Capacité d'adaptation et d'apprentissage<br>- Curiosité<br>- Persévérance<br>- Sens de l'organisation<br>- Rigueur<br>- Travail en équipe<br>- Force de proposition<br>- Prise de décisions</p>
        <p class="card-text text-start text-light mb-0 pb-0 fs-7" *ngIf="tabMenu[0] === true" [ngClass]="{'d-none': tabActive[0] === false}">- Autonomie<br>- Capacité d'adaptation et d'apprentissage<br>- Curiosité<br>- Persévérance<br>- Sens de l'organisation<br>- Rigueur<br>- Travail en équipe<br>- Force de proposition<br>- Prise de décisions</p>
        </div>
    </div> 
</button>
<!--Carte Travail en équipe-->
<button class="card-button m-3" (click)="onSavoirEtreActive2()" *ngIf="tabShow[1] === true" [ngClass]="{'rotateIn': tabRotate[1] === true, 'rotateStart': tabRotate[1] === undefined,'rotateOut': tabRotate[1] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/reineCoeur.png" alt="As de coeur savoir être Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[1] === true || tabActive[1]=== false}" >
        <img src="/assets/reineCoeur.png" alt="As de coeur savoir être Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[1] === true || tabActive[1]=== true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[1] === false || tabActive[1] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[1] === false || tabActive[1] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[1] === false" [ngClass]="{'d-none': tabActive[1]=== false}"><p class=" text-danger mt-4">Gestion<br>de projet</p><p class=" text-danger">( 21 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[1] === false" [ngClass]="{'d-none': tabActive[1]=== true}"><p class=" text-danger mt-4">Gestion<br>de projet</p><p class=" text-danger">( 21 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-light mb-0 pb-0 mirror fs-7" *ngIf="tabMenu[1] === true" [ngClass]="{'d-none': tabActive[1]=== true}"><p class="text-start m-0">- Méthode AGILE et SCRUM<br>- Coordonner l'activité d'une équipe<br>- Traiter l'information et communiquer<br>- Animer une réunion<br>- Former et assiter techniquement<br>- Recrutement et RH</p></div>
        <div class="card-text text-light mb-0 pb-0 fs-7" *ngIf="tabMenu[1] === true" [ngClass]="{'d-none': tabActive[1]=== false}"><p class="text-start m-0">- Méthode AGILE et SCRUM<br>- Coordonner l'activité d'une équipe<br>- Traiter l'information et communiquer<br>- Animer une réunion<br>- Former et assiter techniquement<br>- Recrutement et RH</p></div>
        </div>
    </div>
</button>
<!--Carte Management-->
<button class="card-button m-3" (click)="onSavoirEtreActive3()" *ngIf="tabShow[2] === true" [ngClass]="{'rotateIn': tabRotate[2] === true, 'rotateStart': tabRotate[2] === undefined,'rotateOut': tabRotate[2] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/valetCoeur.png" alt="As de coeur savoir être Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[2] === true || tabActive[2]=== false}" >
        <img src="/assets/valetCoeur.png" alt="As de coeur savoir être Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[2] === true || tabActive[2]=== true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[2] === false || tabActive[2] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[2] === false || tabActive[2] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[2] === false" [ngClass]="{'d-none': tabActive[2]=== false}"><p class=" text-danger mt-4">Management</p><p class=" text-danger">( 15 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[2] === false" [ngClass]="{'d-none': tabActive[2]=== true}"><p class=" text-danger mt-4">Management</p><p class=" text-danger">( 15 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-light mb-0 pb-0 mirror fs-7" *ngIf="tabMenu[2] === true" [ngClass]="{'d-none': tabActive[2]=== true}"><p class="text-start m-0">- Diriger une structure<br>- Définir des objectifs<br>- Analyser les résultats<br>- Déterminer des mesures correctives<br>- Gérer un budget<br>- Gestion administrative<br>- Planifier les étapes d'un projet<br>- Diriger une équipe</p></div>
        <div class="card-text text-light mb-0 pb-0 fs-7" *ngIf="tabMenu[2] === true" [ngClass]="{'d-none': tabActive[2]=== false}"><p class="text-start m-0">- Diriger une structure<br>- Définir des objectifs<br>- Analyser les résultats<br>- Déterminer des mesures correctives<br>- Gérer un budget<br>- Gestion administrative<br>- Planifier les étapes d'un projet<br>- Diriger une équipe</p></div>
        </div>
    </div>
</button>
<!--Carte Commercial-->
<button class="card-button m-3" (click)="onSavoirEtreActive4()" *ngIf="tabShow[3] === true" [ngClass]="{'rotateIn': tabRotate[3] === true, 'rotateStart': tabRotate[3] === undefined,'rotateOut': tabRotate[3] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/dixCoeur.png" alt="As de coeur savoir être Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[3] === true || tabActive[3]=== false}" >
        <img src="/assets/dixCoeur.png" alt="As de coeur savoir être Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[3] === true || tabActive[3]=== true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[3] === false || tabActive[3] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[3] === false || tabActive[3] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[3] === false" [ngClass]="{'d-none': tabActive[3]=== false}"><p class=" text-danger mt-4">Commerciale</p><p class=" text-danger">( 27 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[3] === false" [ngClass]="{'d-none': tabActive[3]=== true}"><p class=" text-danger mt-4">Commerciale</p><p class=" text-danger">( 27 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-light mb-0 pb-0 mirror fs-7" *ngIf="tabMenu[3] === true" [ngClass]="{'d-none': tabActive[3]=== true}"><p class="text-start m-0">- Analyser les besoins du client<br>- Etablir un cahier des charges<br>- Argumentaire ventes<br>- Négociation achats<br>- Devis / factures / encaissements<br>- Suivre un portefeuille client<br>- Merchandising</p></div>
        <div class="card-text text-light mb-0 pb-0 fs-7" *ngIf="tabMenu[3] === true" [ngClass]="{'d-none': tabActive[3]=== false}"><p class="text-start m-0">- Analyser les besoins du client<br>- Etablir un cahier des charges<br>- Argumentaire ventes<br>- Négociation achats<br>- Devis / factures / encaissements<br>- Suivre un portefeuille client<br>- Merchandising</p></div>
        </div>
    </div>
</button>
