<button id="trefle" class="card-button m-3" (click)="onSavoirFaire()" [ngClass]="{'rotateIn': rotateSavoirFaire === false, 'rotateOut': rotateSavoirFaire === true, 'mirror': rotateSavoirFaire === undefined }" >
    <div class="card h-card card-border">
        <img src="/assets/asTrefle.png" alt="As de trefle savoir faire" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': savoirFaireMenu === true || savoirFaire === false}" >
        <img src="/assets/asTrefle.png" alt="As de trefle savoir faire" class="card-img h-100 w-100 " [ngClass]="{'d-none': savoirFaireMenu === true || savoirFaire === true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': savoirFaireMenu === false || savoirFaire === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': savoirFaireMenu === false || savoirFaire === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="savoirFaireMenu === false" [ngClass]="{'d-none': savoirFaire === false}"><p class="mb-3 pt-5 text-black">Savoir Faire</p><p class="pt-5 text-black">Expériences Professionnelles</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="savoirFaireMenu === false" [ngClass]="{'d-none': savoirFaire === true}"><p class="mb-3 pt-5 text-black">Savoir Faire</p><p class="pt-5 text-black">Expériences Professionnelles</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-start text-light mb-0 pb-0  mirror" *ngIf="savoirFaireMenu === true" [ngClass]="{'d-none': savoirFaire === true}"><p>- Gérant de société</p><p>- Directeur de magasins</p><p>- Responsable Informatique</p><p class="m-0">- Chef de rayon</p></div>
        <div class="card-text text-start text-light mb-0 pb-0" *ngIf="savoirFaireMenu === true" [ngClass]="{'d-none': savoirFaire === false}"><p>- Gérant de société</p><p>- Directeur de magasins</p><p>- Responsable Informatique</p><p class="m-0">- Chef de rayon</p></div>
        </div>
    </div>
</button>
<button class="card-button m-3" (click)="onSavoirFaireActive1()" *ngIf="tabShow[0] === true" [ngClass]="{'rotateIn': tabRotate[0] === true, 'rotateStart': tabRotate[0] === undefined,'rotateOut': tabRotate[0] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/roiTrefle.png" alt="As de trefle savoir faire" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[0] === true || tabActive[0] === false}" >
        <img src="/assets/roiTrefle.png" alt="As de trefle savoir faire" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[0] === true || tabActive[0] === true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[0] === false || tabActive[0] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[0] === false || tabActive[0] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[0] === false" [ngClass]="{'d-none': tabActive[0] === false}"><p class="mt-4 text-black">Gérant de société</p><p class="text-black">( 6 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[0] === false" [ngClass]="{'d-none': tabActive[0] === true}"><p class="mt-4 text-black">Gérant de société</p><p class="text-black">( 6 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <p class="card-text text-start text-light mb-0 pb-0 mirror fs-6" *ngIf="tabMenu[0] === true" [ngClass]="{'d-none': tabActive[0] === true}"><u>Société A.B.E :</u> Electricité générale de 2006 à 2010 à Annecy(74) <br><br><u>Société B.S.N :</u> Rééquilibrage Alimentaire de 2018 à 2020 à Anglet(64)</p>
        <p class="card-text text-start text-light mb-0 pb-0 fs-6" *ngIf="tabMenu[0] === true" [ngClass]="{'d-none': tabActive[0] === false}"><u>Société A.B.E :</u> Electricité générale de 2006 à 2010 à Annecy(74) <br><br><u>Société B.S.N :</u> Rééquilibrage Alimentaire de 2018 à 2020 à Anglet(64)</p>
        </div>
    </div> 
</button>
<button class="card-button m-3" (click)="onSavoirFaireActive2()" *ngIf="tabShow[1] === true" [ngClass]="{'rotateIn': tabRotate[1] === true, 'rotateStart': tabRotate[1] === undefined,'rotateOut': tabRotate[1] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/reineTrefle.png" alt="As de trefle savoir faire" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[1] === true || tabActive[1]=== false}" >
        <img src="/assets/reineTrefle.png" alt="As de trefle savoir faire" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[1] === true || tabActive[1]=== true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[1] === false || tabActive[1] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[1] === false || tabActive[1] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[1] === false" [ngClass]="{'d-none': tabActive[1]=== false}"><p class="mt-4 text-black">Directeur de magasin</p><p class="text-black">( 9 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[1] === false" [ngClass]="{'d-none': tabActive[1]=== true}"><p class="mt-4 text-black">Directeur de magasin</p><p class="text-black">( 9 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-light mb-0 pb-0 mirror fs-7" *ngIf="tabMenu[1] === true" [ngClass]="{'d-none': tabActive[1]=== true}"><p class="text-center">Directeur de centre L'Auto Leclerc</p><p class="text-start"> <u>P.B.D :</u> 2020-2021 à Saint-Jean-de-Luz(64)<u><br>S.A.B :</u> de 2014 à 2018 à Biscarrosse(40)</p><p class="text-centre">Magasin Sportswear</p><p class="text-start m-0"><u>Riding Sun :</u> de 2002 à 2006 à Annecy(74)</p></div>
        <div class="card-text text-light mb-0 pb-0 fs-7" *ngIf="tabMenu[1] === true" [ngClass]="{'d-none': tabActive[1]=== false}"><p class="text-center">Directeur de centre L'Auto Leclerc</p><p class="text-start"> <u>P.B.D :</u> 2020-2021 à Saint-Jean-de-Luz(64)<u><br>S.A.B :</u> de 2014 à 2018 à Biscarrosse(40)</p><p class="text-centre">Magasin Sportswear</p><p class="text-start m-0"><u>Riding Sun :</u> de 2002 à 2006 à Annecy(74)</p></div>
        </div>
    </div>
</button>
<button class="card-button m-3" (click)="onSavoirFaireActive3()" *ngIf="tabShow[2] === true" [ngClass]="{'rotateIn': tabRotate[2] === true, 'rotateStart': tabRotate[2] === undefined,'rotateOut': tabRotate[2] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/valetTrefle.png" alt="As de trefle savoir faire" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[2] === true || tabActive[2]=== false}" >
        <img src="/assets/valetTrefle.png" alt="As de trefle savoir faire" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[2] === true || tabActive[2]=== true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[2] === false || tabActive[2] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[2] === false || tabActive[2] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[2] === false" [ngClass]="{'d-none': tabActive[2]=== false}"><p class="mt-4 text-black">Responsable Informatique</p><p class="text-black">( 6 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[2] === false" [ngClass]="{'d-none': tabActive[2]=== true}"><p class="mt-4 text-black">Responsable Informatique</p><p class="text-black">( 6 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-light mb-0 pb-0 mirror fs-6" *ngIf="tabMenu[2] === true" [ngClass]="{'d-none': tabActive[2]=== true}"><p class="text-center">C.I.M</p><p class="text-start fs-7"> <u>S.A.B :</u> de 2012 à 2018 à Biscarrosse(40)</p><p class="text-center fs-8 m-0">Responsable de la gestion du parc informatique et télécom, formation des utilisateurs, administration réseau, recherche et résolution de pannes, sur les 5 sites de la société SAB. </p></div>
        <div class="card-text text-light mb-0 pb-0 fs-6" *ngIf="tabMenu[2] === true" [ngClass]="{'d-none': tabActive[2]=== false}"><p class="text-center">C.I.M</p><p class="text-start fs-7"> <u>S.A.B :</u> de 2012 à 2018 à Biscarrosse(40)</p><p class="text-center fs-8 m-0">Responsable de la gestion du parc informatique et télécom, formation des utilisateurs, administration réseau, recherche et résolution de pannes, sur les 5 sites de la société SAB. </p></div>
        </div>
    </div>
</button>
<button class="card-button m-3" (click)="onSavoirFaireActive4()" *ngIf="tabShow[3] === true" [ngClass]="{'rotateIn': tabRotate[3] === true, 'rotateStart': tabRotate[3] === undefined,'rotateOut': tabRotate[3] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/dixTrefle.png" alt="As de trefle savoir faire" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[3] === true || tabActive[3]=== false}" >
        <img src="/assets/dixTrefle.png" alt="As de trefle savoir faire" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[3] === true || tabActive[3]=== true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[3] === false || tabActive[3] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[3] === false || tabActive[3] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[3] === false" [ngClass]="{'d-none': tabActive[3]=== false}"><p class="mt-4 text-black">Chef de rayon</p><p class="text-black">( 12 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[3] === false" [ngClass]="{'d-none': tabActive[3]=== true}"><p class="mt-4 text-black">Chef de rayon</p><p class="text-black">( 12 ans )</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-light mb-0 pb-0 mirror fs-6" *ngIf="tabMenu[3] === true" [ngClass]="{'d-none': tabActive[3]=== true}"><p class="text-center">Chef de Secteur Textile</p><p class="text-start fs-7"> <u>S.A.B :</u> Hypermarché E.Leclerc de 2010 à 2014 à Biscarrosse(40)</p><p class="text-center">Store Manager</p><p class="text-start fs-7 m-0"> <u>C.E.F :</u> Grossiste en matériel électrique de 1994 à 2002 à Annecy(74)</p></div>
        <div class="card-text text-light mb-0 pb-0 fs-6" *ngIf="tabMenu[3] === true" [ngClass]="{'d-none': tabActive[3]=== false}"><p class="text-center">Chef de Secteur Textile</p><p class="text-start fs-7"> <u>S.A.B :</u> Hypermarché E.Leclerc de 2010 à 2014 à Biscarrosse(40)</p><p class="text-center">Store Manager</p><p class="text-start fs-7 m-0"> <u>C.E.F :</u> Grossiste en matériel électrique de 1994 à 2002 à Annecy(74)</p></div>
        </div>
    </div>
</button>
