.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoMenu {
    width: 100%;
    &:hover {
        transform: scale(1.2);
        transition-duration: 300ms;
    }
}
.brandWidth {
    width: 60px !important;
}
.bg-fond {
    background-image: url(/assets/fond.gif);
    background-size: 100%;
    box-shadow: steelblue 6px 6px 6px;
    @media screen and ( max-width: 992px ) {
        background-size: 250%;
        box-shadow: black 0px 0px 0px;
        }
}
.bg-menu {
    background-color: rgba(0,0,0,0.5);
}
.bg-blue-light {
    background-color: #DFF2FF;
}
.blue-light {
    color: #DFF2FF;
}
.bg-blue-dark {
    background-color: steelblue;
}
.blue-dark {
    color: steelblue;
    border: none;
}
.imageMenu {
    background-color:transparent;
    border: none;
}
.logoCarte {
    width: 25px;
    height: auto;
    background-color: steelblue;
    border-radius: 50%;
}
.nav-item {
    border-top: #6495ED solid 1px;
    @media screen and ( max-width: 992px ) {
    border-top: #6495ED solid 1px;
    }
}
.pcredits {
    padding-left: 10%;
    margin-top: 5%;
}
.fade {
	animation: fadeIn 2s;
	opacity: 1;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}	
}
.navbar-toggler {
    color: white;
    border-color: white;
  }
  .shadowText {
    text-shadow: 0px 0px 10px red;
  }