<!--Carte et table des matières du Menu "tout savoir"-->
<button id="carreau" class="card-button m-3" (click)="onSavoirTout()" [ngClass]="{'rotateIn': rotateSavoirTout === false, 'rotateOut': rotateSavoirTout === true, 'mirror': rotateSavoirTout === undefined }" >
    <div class="card h-card card-border">
        <img src="/assets/asCarreau.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': savoirToutMenu === true || savoirTout === false}" >
        <img src="/assets/asCarreau.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': savoirToutMenu === true || savoirTout === true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': savoirToutMenu === false || savoirTout === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': savoirToutMenu === false || savoirTout === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title  m-0 mirror" *ngIf="savoirToutMenu === false" [ngClass]="{'d-none': savoirTout === false}"><p class="mb-2 pt-5 text-danger">Tout Savoir</p><p class="pt-5 text-danger">Informations Contact</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title  m-0" *ngIf="savoirToutMenu === false" [ngClass]="{'d-none': savoirTout === true}"><p class="mb-2 pt-5 text-danger">Tout Savoir</p><p class="pt-5 text-danger">Informations Contact</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-start text-light mb-0 pb-0  mirror" *ngIf="savoirToutMenu === true" [ngClass]="{'d-none': savoirTout === true}"><p>- Coordonnées</p><p>- Réseaux Sociaux</p><p>- Portfolio</p><p>- Centres d'intérêts</p><p class="m-0">- Divers</p></div>
        <div class="card-text text-start text-light mb-0 pb-0" *ngIf="savoirToutMenu === true" [ngClass]="{'d-none': savoirTout === false}"><p>- Coordonnées</p><p>- Réseaux Sociaux</p><p>- Portfolio</p><p>- Centres d'intérêts</p><p class="m-0">- Divers</p></div>
        </div>
    </div>
</button>
<!--Carte Photo Contact-->
<button class="card-button m-3" (click)="onSavoirToutActive1()" *ngIf="tabShow[0] === true" [ngClass]="{'rotateIn': tabRotate[0] === true, 'rotateStart': tabRotate[0] === undefined,'rotateOut': tabRotate[0] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/roiCarreau.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[0] === true || tabActive[0] === false}" >
        <img src="/assets/roiCarreau.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[0] === true || tabActive[0] === true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[0] === false || tabActive[0] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[0] === false || tabActive[0] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title  m-0 mirror" *ngIf="tabMenu[0] === false" [ngClass]="{'d-none': tabActive[0] === false}"><img src="/assets/photo.png" alt="Ma pomme" class="w-90 mt-4"/><p class="text-danger">Coordonnées</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title  m-0" *ngIf="tabMenu[0] === false" [ngClass]="{'d-none': tabActive[0] === true}"><img src="/assets/photo.png" alt="Ma pomme" class="w-90 mt-4"/><p class="text-danger">Coordonnées</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-start text-light mb-0 pb-0 mirror fs-6 fs-m" *ngIf="tabMenu[0] === true" [ngClass]="{'d-none': tabActive[0] === true}"><p class="text-center fs-5">Andermann Boris</p><p class="text-center fs-7">25 rue Séraphin Haulon 64100 Bayonne</p><p class="text-center"><u>Tel</u><br>06.13.78.84.45</p><p class="fs-8 text-center"><u class="fs-6">Mail</u><br><a href="mailto:andermannboris@yahoo.fr">andermannboris@yahoo.fr</a></p></div>
        <div class="card-text text-start text-light mb-0 pb-0 fs-6" *ngIf="tabMenu[0] === true" [ngClass]="{'d-none': tabActive[0] === false}"><p class="text-center fs-5">Andermann Boris</p><p class="text-center fs-7">25 rue Séraphin Haulon 64100 Bayonne</p><p class="text-center"><u>Tel</u><br>06.13.78.84.45<br></p><p class="fs-8 text-center"><u class="fs-6">Mail</u><br><a href="mailto:andermannboris@yahoo.fr">andermannboris@yahoo.fr</a></p></div>
        </div>
    </div> 
</button>
<!--Carte Réseaux ( ha ha ha !)-->
<button class="card-button m-3" (click)="onSavoirToutActive2()" *ngIf="tabShow[1] === true" [ngClass]="{'rotateIn': tabRotate[1] === true, 'rotateStart': tabRotate[1] === undefined,'rotateOut': tabRotate[1] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/reineCarreau.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[1] === true || tabActive[1]=== false}" >
        <img src="/assets/reineCarreau.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[1] === true || tabActive[1]=== true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[1] === false || tabActive[1] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[1] === false || tabActive[1] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[1] === false" [ngClass]="{'d-none': tabActive[1]=== false}"><p class="text-danger mt-4">Site</p><p class="text-danger">et</p><p class="text-danger">Réseaux Sociaux</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[1] === false" [ngClass]="{'d-none': tabActive[1]=== true}"><p class="text-danger mt-4">Site</p><p class="text-danger">et</p><p class="text-danger">Réseaux Sociaux</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-light mb-0 pb-0 mirror fs-6" *ngIf="tabMenu[1] === true" [ngClass]="{'d-none': tabActive[1]=== true}"><p class="text-center">Linkedin<br><a href="https://www.linkedin.com/in/boris-andermann-122086219/" title="Linkedin" target="_plank">Boris Andermann</a><br>GitHub<br><a href="https://github.com/AngusABWD" title="GitHub" target="_plank">Angus ABWD</a><br>Site<br><a href="http://www.abwd.fr/" title="ABWD" target="_plank">ABWD</a><br>Twitter<br><a href="https://twitter.com/AngusAbwd" title="Twitter" target="_plank">@AngusABWD</a></p></div>
        <div class="card-text text-light mb-0 pb-0 fs-6" *ngIf="tabMenu[1] === true" [ngClass]="{'d-none': tabActive[1]=== false}"><p class="text-center">Linkedin<br><a href="https://www.linkedin.com/in/boris-andermann-122086219/" title="Linkedin" target="_plank">Boris Andermann</a><br>GitHub<br><a href="https://github.com/AngusABWD" title="GitHub" target="_plank">Angus ABWD</a><br>Site<br><a href="http://www.abwd.fr/" title="ABWD" target="_plank">ABWD</a><br>Twitter<br><a href="https://twitter.com/AngusAbwd" title="Twitter" target="_plank">@AngusABWD</a></p></div>
        </div>
    </div>
</button>
<!--Carte PorteFolio-->
<button class="card-button m-3" (click)="onSavoirToutActive3()" *ngIf="tabShow[2] === true" [ngClass]="{'rotateIn': tabRotate[2] === true, 'rotateStart': tabRotate[2] === undefined,'rotateOut': tabRotate[2] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/valetCarreau.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[2] === true || tabActive[2]=== false}" >
        <img src="/assets/valetCarreau.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[2] === true || tabActive[2]=== true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[2] === false || tabActive[2] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[2] === false || tabActive[2] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[2] === false" [ngClass]="{'d-none': tabActive[2]=== false}"><p class="text-danger mt-4">Portfolio</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[2] === false" [ngClass]="{'d-none': tabActive[2]=== true}"><p class="text-danger mt-4">Portfolio</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-light mb-0 pb-0 mirror fs-6" *ngIf="tabMenu[2] === true" [ngClass]="{'d-none': tabActive[2]=== true}"><p class="text-center"><u>Réalisations</u></p><p class="text-start"></p><a href="http://www.abwd.fr/" title="ABWD" target="_plank">www.abwd.fr</a><br><a href="https://andermannboriscv.000webhostapp.com/ExercicesJS/index.html" title="Exercices Javascript" target="_plank">Exercices JavaScript</a><br><a href="https://angusabwd.000webhostapp.com" title="Food Facts" target="_plank">Food Facts</a><br><a href="https://andermannboriscv.000webhostapp.com/HeavensColt/heavensColt.html" title="Heaven's Colt" target="_plank">Heaven's Colt</a></div>
        <div class="card-text text-light mb-0 pb-0 fs-6" *ngIf="tabMenu[2] === true" [ngClass]="{'d-none': tabActive[2]=== false}"><p class="text-center"><u>Réalisations</u></p><p class="text-start"></p><a href="http://www.abwd.fr/" title="ABWD" target="_plank">www.abwd.fr</a><br><a href="https://andermannboriscv.000webhostapp.com/ExercicesJS/index.html" title="Exercices Javascript" target="_plank">Exercices JavaScript</a><br><a href="https://angusabwd.000webhostapp.com/" title="Food Facts" target="_plank">Food Facts</a><br><a href="https://andermannboriscv.000webhostapp.com/HeavensColt/heavensColt.html" title="Heaven's Colt" target="_plank">Heaven's Colt</a></div>
        </div>
    </div>
</button>
<!--Carte Divers-->
<button class="card-button m-3" (click)="onSavoirToutActive4()" *ngIf="tabShow[3] === true" [ngClass]="{'rotateIn': tabRotate[3] === true, 'rotateStart': tabRotate[3] === undefined,'rotateOut': tabRotate[3] === false }" >
    <div class="card h-card card-border">
        <img src="/assets/dixCarreau.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[3] === true || tabActive[3]=== false}" >
        <img src="/assets/dixCarreau.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[3] === true || tabActive[3]=== true}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[3] === false || tabActive[3] === false}" >
        <img src="/assets/fond.png" alt="Dos de carte" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[3] === false || tabActive[3] === true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[3] === false" [ngClass]="{'d-none': tabActive[3]=== false}"><p class="text-danger mt-4">Dix-vers</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[3] === false" [ngClass]="{'d-none': tabActive[3]=== true}"><p class="text-danger mt-4">Dix-vers</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-light mb-0 pb-0 mirror fs-7" *ngIf="tabMenu[3] === true" [ngClass]="{'d-none': tabActive[3]=== true}"><p class="text-start m-0">- Né le 15/02/1972<br>- Permis A<br>- Permis B<br>- Marié 2 enfants<br>Comme un autre AB<br>- Véhicule personnel<br>- Formation SST<br>- Caces 3<br>- Habilitation Électrique</p></div>
        <div class="card-text text-light mb-0 pb-0 fs-7" *ngIf="tabMenu[3] === true" [ngClass]="{'d-none': tabActive[3]=== false}"><p class="text-start m-0">- Né le 15/02/1972<br>- Permis A<br>- Permis B<br>- Marié 2 enfants<br>Comme un autre AB<br>- Véhicule personnel<br>- Formation SST<br>- Caces 3<br>- Habilitation Électrique</p></div>
        </div>
    </div>
</button>
<!--Carte Centre d'intérêt-->
<button class="card-button m-3" (click)="onSavoirToutActive5()" *ngIf="tabShow[4] === true" [ngClass]="{'rotateIn': tabRotate[4] === true, 'rotateStart': tabRotate[4] === undefined,'rotateOut': tabRotate[4] === false }" >
    <div class="card h-card card-border" [ngClass]="{'bg-black': tabMenu[4] === true}">
        <img src="/assets/joker.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 mirror" [ngClass]="{'d-none': tabMenu[4] === true || tabActive[4]=== false}" >
        <img src="/assets/joker.png" alt="As de Carreau Tout Savoir Menu" class="card-img h-100 w-100 " [ngClass]="{'d-none': tabMenu[4] === true || tabActive[4]=== true}" >
        <div class="card-img-overlay center">
        <h5 class="card-title m-0 mirror" *ngIf="tabMenu[4] === false" [ngClass]="{'d-none': tabActive[4]=== false}"><img src="/assets/Lemmy.jpg" alt="Lemmy" class="w-90 mt-4"/><p class="text-black">Centres d'intérêts</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <h5 class="card-title m-0" *ngIf="tabMenu[4] === false" [ngClass]="{'d-none': tabActive[4]=== true}"><img src="/assets/Lemmy.jpg" alt="Lemmy" class="w-90 mt-4"/><p class="text-black">Centres d'intérêts</p><p class="fs-8 m-0 p-0">Cliquez pour retourner</p></h5>
        <div class="card-text text-light mb-0 pb-0 mirror text-center fs-7" *ngIf="tabMenu[4] === true" [ngClass]="{'d-none': tabActive[4]=== true}"><p class="text-center m-0 fs-7">Le gros Rock qui tâche<br>La Guitare électrique<br>La Moto<br><span class="fs-8">même si ma femme veut pas</span><br>Fitness-Musculation<br>Nutrition<br>World of Warcraft<br>Elite Dangerous<br><span class="fs-8">(même si j'ai plus le temps)</span></p></div>
        <div class="card-text text-light mb-0 pb-0 text-center fs-7" *ngIf="tabMenu[4] === true" [ngClass]="{'d-none': tabActive[4]=== false}"><p class="text-center m-0 fs-7">Le gros Rock qui tâche<br>La Guitare électrique<br>La Moto<br><span class="fs-8">même si ma femme veut pas</span><br>Fitness-Musculation<br>Nutrition<br>World of Warcraft<br>Elite Dangerous<br><span class="fs-8">(même si j'ai plus le temps)</span></p></div>
        </div>
    </div>
</button>
