@import "./customize-bootstrap.scss";
@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
    //background-color:steelblue ;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/assets/back4.png);
    background-size: 100%;
    @media screen and ( max-width: 992px )  {
        //background-image: none;
        background-color:steelblue ;   
    }
}
html {
    overflow: scroll;
}
