@import "./customize-bootstrap.scss";
@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color:steelblue ;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
html {
    overflow: scroll;
}
